@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yeseva+One&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

.clearfix {
  zoom: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  margin: 2rem auto;
  max-width: 1300px;
  padding: 2rem;
}

header {
  background-image: url("/assets/MaskGroup68.png");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}

.header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
}

.header1__en {
  width: 40%;
  height: 40%;
}

.header1__hamburger {
  width: 30%;
  height: 30%;
}

.header2,
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
}

.header2__left,
.projects__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header2__pretitle {
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 0.7;
}

.header2__title {
  font-family: "Yeseva One", cursive;
  font-size: 4rem;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.header2__about,
.projects__about {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.header2__image {
  width: 30%;
  height: 30%;
}

.nav2 {
  display: none;
}

.home__title {
  font-family: "Yeseva One", cursive;
  font-size: 2.8rem;
  letter-spacing: 0px;
  color: #011839;
  opacity: 1;
  text-align: center;
}

.home__about {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0px;
  color: #011839;
  opacity: 1;
  text-align: center;
}

.home__img {
  max-width: 1300px;
}

.home__description {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #011839;
  opacity: 1;
  max-width: 1000px;
  margin: 8rem 19rem;
}

.adriaticaLuxe__pretitle,
.DalmatiaSun__pretitle {
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  letter-spacing: 0px;
  color: #031B3B;
  opacity: 1;
  margin-top: 5rem;
  position: relative;
}

.adriaticaLuxe__pretitle:before,
.DalmatiaSun__pretitle:before {
  content: "";
  display: block;
  width: 800px;
  height: .2rem;
  background: #011839;
  position: absolute;
  left: 3.5rem;
  top: -100%;
  color: #021A3A;
  opacity: 0.2;
}

.adriaticaLuxe__title,
.DalmatiaSun__title {
  font-family: "Yeseva One", cursive;
  font-size: 4rem;
  letter-spacing: 0px;
  color: #031B3B;
  opacity: 1;
}

.adriaticaLuxe__question {
  background-image: url("/assets/blue_bckg.svg");
  font-family: "Yeseva One", cursive;
  font-size: 3rem;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  text-align: left;
}

.adriaticaLuxe__description,
.DalmatiaSun__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adriaticaLuxe__logo,
.DalmatiaSun__logo {
  width: 20%;
  height: 20%;
  margin: 4rem 0 0 5rem;
}

.adriaticaLuxe__text,
.DalmatiaSun__text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #031B3B;
  opacity: 1;
  margin: 8rem 8rem 1.5rem;
}

.adriaticaLuxe__text2,
.DalmatiaSun__text2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #031B3B;
  opacity: 1;
  margin: 4rem 8rem 2rem 19rem;
}

.adriaticaLuxe__SEM,
.adriaticaLuxe__SMM,
.adriaticaLuxe__EmailMarketing,
.DalmatiaSun__SEM,
.DalmatiaSun__SMM,
.DalmatiaSun__EmailMarketing {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #011839;
  opacity: 1;
  margin: 2rem 0rem 0rem 16rem;
  text-align: center;
  max-width: 600px;
  position: relative;
  z-index: -2;
}

.adriaticaLuxe__SEM:before,
.adriaticaLuxe__SMM:before,
.adriaticaLuxe__EmailMarketing:before,
.DalmatiaSun__SEM:before,
.DalmatiaSun__SMM:before,
.DalmatiaSun__EmailMarketing:before {
  content: "";
  display: block;
  width: 100px;
  height: .2rem;
  background: #011839;
  opacity: 100;
  position: absolute;
  left: 3.5rem;
  top: 50%;
}

.adriaticaLuxe__SEM span,
.adriaticaLuxe__SMM span,
.adriaticaLuxe__EmailMarketing span,
.DalmatiaSun__SEM span,
.DalmatiaSun__SMM span,
.DalmatiaSun__EmailMarketing span {
  background: #FFFFFF;
}

.adriaticaLuxe__visitWebsite,
.DalmatiaSun__visitWebsite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 18rem;
}

.adriaticaLuxe__visitWebsite-rightIcon,
.DalmatiaSun__visitWebsite-rightIcon {
  width: 10%;
  height: 10%;
}

.adriaticaLuxe__visitWebsite-text3,
.DalmatiaSun__visitWebsite-text3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0px;
  color: #011839;
  opacity: 1;
  margin: 1.8rem;
}

.projects {
  background-image: url("/assets/stary_bckg.png");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__left {
  padding: 8rem 0rem 2rem 5rem;
}

.projects__title {
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
  max-width: 500px;
  color: #FFFFFF;
  opacity: 1;
}

.projects__rocket {
  width: 50%;
  height: 50%;
}

.projects__rightIcon {
  width: 34px;
  height: 34px;
  background: transparent;
}

.contact {
  margin-top: 5rem;
}

.contact__title {
  text-align: center;
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
  color: #011839;
}

.contact__about {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #031B3B;
  margin: 1.5rem 0 3rem;
}

.subscription-and-SocialLinks-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.certificates img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 40%;
}

.certificates__tia {
  width: 20%;
  height: 20%;
}
/*# sourceMappingURL=style.css.map */