@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yeseva+One&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

.clearfix {
  zoom: 1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  margin: 1rem auto;
  max-width: 1400px;
  padding: 0;
}

header {
  background-image: url("/assets/MaskGroup68.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
}

.header1__right {
  margin-right: -2rem;
}

.header1__en {
  max-width: 50%;
  max-height: 50%;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

.header1__hamburger {
  max-width: 25%;
  max-height: 25%;
  padding-bottom: 0.8rem;
}

.header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -2rem 8rem 2rem 5rem;
}

.header2__pretitle {
  font-family: "Yeseva One", cursive;
  font-size: 1.35rem;
  color: #ffffff;
  opacity: 0.7;
}

.header2__title {
  font-family: "Yeseva One", cursive;
  font-size: 3.1rem;
  color: #ffffff;
  margin: 0.1rem 0 0.8rem 0rem;
}

.header2__about,
.projects__about {
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  color: #ffffff;
  max-width: 500px;
}

.header2__image {
  max-width: 30%;
  max-height: 30%;
}

.nav2 {
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__title {
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
  color: #011839;
  text-align: center;
}

.home__about {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: #011839;
  text-align: center;
  max-width: 590px;
  margin: 1rem 0 6rem 0;
  position: relative;
}

.home__about::after {
  content: "";
  display: block;
  width: 19%;
  position: absolute;
  border: 0.1rem solid #011839;
  top: 275%;
  left: 40%;
  z-index: 2;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.home__description {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #011839;
  max-width: 650px;
  margin: 7rem 0rem 5rem 0;
}

.AdriaticaLuxe__pretitle,
.DalmatiaSun__pretitle {
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  color: #031b3b;
  margin-top: 5rem;
  position: relative;
  margin-left: 10rem;
}

.AdriaticaLuxe__pretitle:before,
.DalmatiaSun__pretitle:before {
  content: "";
  display: block;
  height: 0.2rem;
  background: #011839;
  position: absolute;
  left: 0rem;
  right: 15.9rem;
  top: -200%;
  color: #021a3a;
  opacity: 0.2;
  max-width: 990px;
}

.AdriaticaLuxe__title,
.DalmatiaSun__title {
  font-family: "Yeseva One", cursive;
  font-size: 4rem;
  color: #031b3b;
  margin-left: 10rem;
}

.AdriaticaLuxe-background,
.DalmatiaSun-background {
  height: 100%;
  bottom: 0;
  position: relative;
  max-width: 6400px;
}

.AdriaticaLuxe-background {
  margin-top: 20rem;
}

.DalmatiaSun-background {
  margin-top: 0rem;
}

.AdriaticaLuxe-background__wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: relative;
  top: -250px;
  max-width: 6400px;
  height: 250px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.AdriaticaLuxe-background__wave:nth-of-type(2) {
  top: -28rem;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {
  0% {
    transform: translate3d(0, -25px, 0);
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    -o-transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
}

@keyframes swell {
  0% {
    transform: translate3d(0, -25px, 0);
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    -o-transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
}

.AdriaticaLuxe-combined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  margin-top: -50rem;
  margin-left: 10rem;
  max-width: 990px;
  position: absolute;
  background-color: #2b4e72;
}

.AdriaticaLuxe-combined__question {
  background-color: #2b4e72;
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5.8rem 8rem 9rem 3.3rem;
  margin-right: 3rem;
}

.AdriaticaLuxe-combined__image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.AdriaticaLuxe-combined__image img {
  width: 100%;
}

.AdriaticaLuxe-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -28rem;
}

.DalmatiaSun-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 31rem;
}

.AdriaticaLuxe-description__logo,
.DalmatiaSun-description__logo {
  width: 50%;
  height: 50%;
  margin: 5rem 0 0 12.5rem;
  position: relative;
}

.AdriaticaLuxe-description__logo::after,
.DalmatiaSun-description__logo::after {
  content: "";
  display: block;
  width: 79%;
  position: absolute;
  border: 0.1rem solid #011839;
  opacity: 17%;
  top: 48%;
  left: 98%;
  z-index: 2;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.AdriaticaLuxe-description__text,
.DalmatiaSun-description__text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: left;
  color: #031b3b;
  margin: 7.2rem 16rem 1.5rem 5rem;
  max-width: 708px;
}

.AdriaticaLuxe__text2,
.DalmatiaSun__text2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #031b3b;
  opacity: 1;
  margin: 3rem 16.5rem 3rem 27rem;
}

.AdriaticaLuxe__SEM,
.AdriaticaLuxe__SMM,
.AdriaticaLuxe__EmailMarketing,
.DalmatiaSun__SEM,
.DalmatiaSun__SMM,
.DalmatiaSun__EmailMarketing {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #011839;
  opacity: 1;
  margin: 2rem 25rem 0rem 23.5rem;
  text-align: center;
  position: relative;
  z-index: -2;
}

.AdriaticaLuxe__SEM:before,
.AdriaticaLuxe__SMM:before,
.AdriaticaLuxe__EmailMarketing:before,
.DalmatiaSun__SEM:before,
.DalmatiaSun__SMM:before,
.DalmatiaSun__EmailMarketing:before {
  content: "";
  display: block;
  width: 6rem;
  height: 0.2rem;
  background: #011839;
  opacity: 100;
  position: absolute;
  left: 4rem;
  top: 50%;
}

.AdriaticaLuxe__SEM span,
.AdriaticaLuxe__SMM span,
.AdriaticaLuxe__EmailMarketing span,
.DalmatiaSun__SEM span,
.DalmatiaSun__SMM span,
.DalmatiaSun__EmailMarketing span {
  background: #ffffff;
}

.AdriaticaLuxe-visitWebsite,
.DalmatiaSun-visitWebsite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 26.2rem;
}

.AdriaticaLuxe-visitWebsite__right-icon-button,
.DalmatiaSun-visitWebsite__right-icon-button {
  width: 8%;
  height: 8%;
  border: none;
  background: transparent;
  cursor: pointer;
}

.AdriaticaLuxe-visitWebsite__right-icon-button:hover,
.AdriaticaLuxe-visitWebsite__right-icon-button :focus,
.DalmatiaSun-visitWebsite__right-icon-button:hover,
.DalmatiaSun-visitWebsite__right-icon-button :focus {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}

.AdriaticaLuxe-visitWebsite__text3,
.DalmatiaSun-visitWebsite__text3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  color: #011839;
  margin: 1.5rem;
  margin-bottom: 6.5rem;
}

.DalmatiaSun {
  margin-top: 6rem;
}

.DalmatiaSun-combined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  margin-left: 10rem;
  max-width: 990px;
  position: absolute;
  background-color: #2b4e72;
}

.DalmatiaSun-combined__question {
  background-color: #2b4e72;
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5.8rem 8rem 9rem 3.3rem;
  margin-right: 3rem;
}

.DalmatiaSun-combined__image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.DalmatiaSun-combined__image img {
  width: 100%;
}

.projects {
  background-image: url("/assets/stary_bckg.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
}

.projects-left {
  padding: 8rem 0rem 2rem 5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects-left__title {
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
  max-width: 500px;
  color: #ffffff;
  opacity: 1;
}

.projects__rocket {
  width: 50%;
  height: 50%;
}

.projects-left__rightIcon {
  width: 34px;
  height: 34px;
  background: transparent;
}

.contact {
  margin-top: 5rem;
}

.contact__title {
  text-align: center;
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
  color: #011839;
}

.contact__about {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #031b3b;
  margin: 1.5rem 0 3rem;
}

.subscription-and-SocialLinks-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.certificates img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 40%;
}

.certificates__tia {
  width: 20%;
  height: 20%;
}
/*# sourceMappingURL=style.css.map */