@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yeseva+One&display=swap");

// colors
$white: #ffffff;
$dark1: #011839;
$dark2: #031b3b;
$digitalAgency: #061b33;
$darkBlue: #2b4e72;
$Blue: #3c639a;
$softGray: #a1a1a1;
$yellow: #f8b215;
$line1: #021a3a;
$line2: #939393;

// fonts

$YesevaOne: "Yeseva One", cursive;
$Roboto: "Roboto", sans-serif;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

.clearfix {
  zoom: 1;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.container {
  margin: 1rem auto;
  max-width: 1400px;
  padding: 0;
}

header {
  background-image: url("/assets/MaskGroup68.png");
  background-color: $white;
  background-repeat: no-repeat;
  background-size: cover;
}

.header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
}

.header1__right {
  margin-right: -2rem;
}

.header1__en {
  max-width: 50%;
  max-height: 50%;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

.header1__hamburger {
  max-width: 25%;
  max-height: 25%;
  padding-bottom: 0.8rem;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -2rem 8rem 2rem 5rem;
}

.header2__pretitle {
  font-family: $YesevaOne;
  font-size: 1.35rem;
  color: $white;
  opacity: 0.7;
}

.header2__title {
  font-family: $YesevaOne;
  font-size: 3.1rem;
  color: $white;
  margin: 0.1rem 0 0.8rem 0rem;
}

.header2__about,
.projects__about {
  font-family: $Roboto;
  font-size: 0.85rem;
  color: $white;
  max-width: 500px;
}

.header2__image {
  max-width: 30%;
  max-height: 30%;
}

.nav2 {
  display: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__title {
  font-family: $YesevaOne;
  font-size: 2.5rem;
  color: $dark1;
  text-align: center;
}

.home__about {
  font-family: $Roboto;
  font-size: 1.1rem;
  color: $dark1;
  text-align: center;
  max-width: 590px;
  margin: 1rem 0 6rem 0;
  position: relative;
}

.home__about::after {
  content: "";
  display: block;
  width: 19%;
  position: absolute;
  border: 0.1rem solid $dark1;
  top: 275%;
  left: 40%;
  z-index: 2;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.home__description {
  font-family: $Roboto;
  font-size: 1rem;
  color: $dark1;
  max-width: 650px;
  margin: 7rem 0rem 5rem 0;
}

.AdriaticaLuxe__pretitle,
.DalmatiaSun__pretitle {
  font-family: $YesevaOne;
  font-size: 2rem;
  color: $dark2;
  margin-top: 5rem;
  position: relative;
  margin-left: 10rem;

  &:before {
    content: "";
    display: block;
    height: 0.2rem;
    background: $line1;
    position: absolute;
    left: 0rem;
    right: 11.9rem;
    top: -136%;
    opacity: 0.2;
  }
}

.AdriaticaLuxe__title,
.DalmatiaSun__title {
  font-family: $YesevaOne;
  font-size: 4rem;
  color: $dark2;
  margin-left: 10rem;
}

.AdriaticaLuxe-background,
.DalmatiaSun-background {
  height: 100%;
  bottom: 0;
  position: relative;
  max-width: 6400px;
}
.AdriaticaLuxe-background {
  margin-top: 20rem;
}
.DalmatiaSun-background {
  margin-top: 1.5rem;
}

.AdriaticaLuxe-background__wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: relative;
  top: -250px;
  max-width: 6400px;
  height: 250px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.AdriaticaLuxe-background__wave:nth-of-type(2) {
  top: -28rem;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0% {
    transform: translate3d(0, -25px, 0);
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    -o-transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
  }
  100% {
    transform: translate3d(0, -25px, 0);
  }
}

.AdriaticaLuxe-combined {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -50rem 15rem 0 10rem;
  position: absolute;
  background-color: $darkBlue;
}

.AdriaticaLuxe-combined__question {
  background-color: $darkBlue;
  font-family: $YesevaOne;
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 5.8rem 8rem 9rem 3.3rem;
  margin-right: 5rem;
}

.AdriaticaLuxe-combined__image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;

  img {
    width: 100%;
  }
}

.AdriaticaLuxe-description {
  display: flex;
  margin-top: -26rem;
}

.DalmatiaSun-description {
  display: flex;
  margin-top: 35rem;
}

.AdriaticaLuxe-description__logo,
.DalmatiaSun-description__logo {
  width: 50%;
  height: 50%;
  margin: 5rem 0 0 12.5rem;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 79%;
    position: absolute;
    border: 0.1rem solid $dark1;
    opacity: 17%;
    top: 48%;
    left: 98%;
    z-index: 2;
    transform: rotate(90deg);
  }
}

.AdriaticaLuxe-description__text,
.DalmatiaSun-description__text {
  font-family: $Roboto;
  font-size: 1rem;
  text-align: left;
  color: $dark2;
  margin: 7.2rem 12.5rem 1.5rem 5rem;
}

.AdriaticaLuxe__text2,
.DalmatiaSun__text2 {
  font-family: $Roboto;
  font-size: 1rem;
  letter-spacing: 0px;
  color: $dark2;
  opacity: 1;
  margin: 3rem 13rem 3rem 27rem;
}

.AdriaticaLuxe__SEM,
.AdriaticaLuxe__SMM,
.AdriaticaLuxe__EmailMarketing,
.DalmatiaSun__SEM,
.DalmatiaSun__SMM,
.DalmatiaSun__EmailMarketing {
  font-family: $Roboto;
  font-size: 1rem;
  font-weight: bold;
  color: $dark1;
  opacity: 1;
  margin: 2rem 0rem 0rem 35rem;
  position: relative;
  z-index: -2;

  &:before {
    content: "";
    display: block;
    width: 6rem;
    height: 0.2rem;
    background: $line1;
    opacity: 0.2;
    position: absolute;
    left: -7.5rem;
    top: 50%;
  }

  span {
    background: $white;
  }
}

.AdriaticaLuxe-visitWebsite,
.DalmatiaSun-visitWebsite {
  display: flex;
  margin-left: 26.2rem;
}

.AdriaticaLuxe-visitWebsite__right-icon-button,
.DalmatiaSun-visitWebsite__right-icon-button {
  width: 8%;
  height: 8%;
  border: none;
  background: transparent;

  &:hover,
  :focus {
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
  }
}

.AdriaticaLuxe-visitWebsite__text3,
.DalmatiaSun-visitWebsite__text3 {
  font-family: $Roboto;
  font-size: 1.3rem;
  font-weight: 900;
  color: $dark1;
  margin: 1.5rem;
  margin-bottom: 4.5rem;
}
.DalmatiaSun {
  margin-top: 6rem;
}
.DalmatiaSun-combined {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0rem 12rem 0rem 10rem;
  position: absolute;
  background-color: $yellow;
}

.DalmatiaSun-combined__question {
  background-color: $yellow;
  font-family: $YesevaOne;
  font-size: 2rem;
  color: $white;
  text-align: left;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 0rem 6rem 0rem 3.3rem;
  margin-right: 5rem;
}

.DalmatiaSun-combined__image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;

  img {
    width: 100%;
  }
}

.projects {
  background-image: url("/assets/MaskGroup72.svg");
  background-color: $white;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11.5rem 5rem;
}

.projects-left {
  padding-top: 6rem;
  flex-grow: 1;
}

.projects-left__title {
  font-family: $YesevaOne;
  font-size: 2.5rem;
  margin-right: 3rem;
  color: $white;
  opacity: 1;
}
.projects-left__about {
  font-family: $Roboto;
  font-size: 1rem;
  color: $white;
  margin: 1.2rem 2.5rem 1.5rem 0;
}
.projects__rocket {
  width: 126%;
  height: 126%;
}

.projects-left-talk {
  display: flex;
}

.projects-left-talk__right-icon-button {
  width: 7%;
  height: 7%;
  border: none;
  background: transparent;

  &:hover,
  :focus {
    transform: scale(1.2, 1.2);
  }
}

.projects-left-talk__talk {
  color: $white;
  margin: 0.3rem 0 0 0.3rem;
  font-size: 1rem;
  font-weight: 900;
}

.contact__title {
  text-align: center;
  font-family: $YesevaOne;
  font-size: 2.5rem;
  color: $dark1;
  margin-top: 1rem;
}

.contact__about {
  text-align: center;
  font-family: $Roboto;
  font-size: 1rem;
  color: $dark2;
  margin: 1.5rem 0 4.5rem;
}

.subscription-and-SocialLinks-wrap {
  display: flex;
  border: none;
}
.subscribe {
  display: flex;
  justify-content: space-between;
  flex: 1;
  background-color: $darkBlue;
  color: $white;
  border: none;
  border-radius: 2rem;
  margin: 0 5rem 0 5rem;
}

.subscribe__input {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  font-family: $Roboto;
  background-color: $darkBlue;
  color: $white;
  padding-left: 2rem;
  border-radius: 2rem 0 0 2rem;
  border: none;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:visited {
  border-radius: 2rem 0 0 2rem;
  border: none;
  outline: none;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px $darkBlue inset !important;
  -webkit-box-shadow: 0 0 0 30px $darkBlue inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $white !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $white;
}

.subscribe-wrap {
  display: flex;
}

.subscribe-wrap__icon-button {
  width: 35%;
  border: none;
  background: transparent;
  margin: 0.4rem 0 0 0.5rem;

  &:hover,
  &:focus {
    transform: scale(1.2, 1.2);
  }
}

.subscribe-wrap__text {
  font-size: 1rem;
  font-family: $Roboto;
  margin: 1rem 2rem 0 0rem;
  font-weight: 900;
}

.socialLinks {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-right: 5rem;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5rem 12rem 5rem 3rem;

  & li,
  & a {
    list-style: none;
    text-decoration: none;
    font-family: $YesevaOne;
    font-size: 1rem;
    color: $softGray;
  }
}
.certificates {
  margin: 0rem 0 0 5rem;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: "";
    height: 0.1rem;
    width: 77rem;
    opacity: 0.4;
    background: $line2;
  }
    &::before{
      margin-top: -3rem;
    }
        
  &::after {
        margin-top: 17rem;
  }
}
.certificates__cisex,
.certificates__osijek,
.certificates__clutch,
.certificates__tda,
.certificates__tia {
  width: 6%;
  height: 6%;
  margin-right: 8rem;
  padding-bottom: 3rem;
}

.certificates__agency {
  width: 14%;
  height: 14%;
  margin-right: 5rem;
}
.certificates {
  display: flex;
  flex-wrap: wrap;
  & img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 40%;
  }
}
