@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Yeseva+One&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  border: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  margin: 0rem auto;
  max-width: 1440px;
  padding: 0rem;
  background-color: #ffffff;
}

.header1 {
  max-width: 1440px;
  margin: 0rem auto;
  color: #ffffff;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 3rem;
  -webkit-transition: background 250ms ease-in;
  transition: background 250ms ease-in;
}

.header-scrolled {
  margin: 0rem auto;
  max-width: 1440px;
  padding: 1rem 3rem;
  background-color: #4279A3;
  color: #011839;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.header1-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header1-right__en {
  max-width: 50%;
  max-height: 50%;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

.header1-right__hamburger {
  max-width: 25%;
  max-height: 25%;
  padding-bottom: 0.8rem;
}

.header2 {
  background-image: url("/assets/MaskGroup68.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7rem 7rem 0rem 6rem;
  margin-bottom: 14rem;
  color: #ffffff;
}

.header2__pretitle {
  font-family: "Yeseva One", cursive;
  font-size: 1.35rem;
  color: #ffffff;
  opacity: 0.7;
}

.header2__title {
  font-family: "Yeseva One", cursive;
  font-size: 3.1rem;
  color: #ffffff;
  margin: 0.1rem 0 0.8rem 0rem;
}

.header2__about,
.projects__about {
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  color: #ffffff;
  max-width: 500px;
}

.header2__image {
  max-width: 30%;
  max-height: 30%;
}

.nav2 {
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__title {
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
  color: #011839;
  text-align: center;
}

.home__about {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: #011839;
  text-align: center;
  max-width: 590px;
  margin: 1rem 0 6rem 0;
  position: relative;
}

.home__about::after {
  content: "";
  display: block;
  width: 19%;
  position: absolute;
  border: 0.1rem solid #011839;
  top: 275%;
  left: 40%;
  z-index: 2;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.home__description {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #011839;
  max-width: 650px;
  margin: 7rem 0rem 5rem 0;
}

.AdriaticaLuxe__pretitle,
.DalmatiaSun__pretitle {
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  color: #031b3b;
  margin-top: 5rem;
  position: relative;
  margin-left: 7rem;
}

.AdriaticaLuxe__pretitle:before,
.DalmatiaSun__pretitle:before {
  content: "";
  display: block;
  height: 0.2rem;
  background: #021a3a;
  position: absolute;
  left: 0rem;
  right: 11.9rem;
  top: -136%;
  opacity: 0.2;
}

.AdriaticaLuxe__title,
.DalmatiaSun__title {
  font-family: "Yeseva One", cursive;
  font-size: 4rem;
  color: #031b3b;
  margin-left: 7rem;
}

.AdriaticaLuxe-background,
.DalmatiaSun-background {
  height: 100%;
  bottom: 0;
  position: relative;
  max-width: 6400px;
}

.AdriaticaLuxe-background {
  margin-top: 20rem;
}

.AdriaticaLuxe-background__wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: relative;
  top: -250px;
  max-width: 6400px;
  height: 250px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.AdriaticaLuxe-background__wave:nth-of-type(2) {
  top: -28rem;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {
  0% {
    transform: translate3d(0, -25px, 0);
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    -o-transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
}

@keyframes swell {
  0% {
    transform: translate3d(0, -25px, 0);
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    -o-transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
}

.AdriaticaLuxe-combined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -50rem 20rem 0 7rem;
  position: absolute;
  background-color: #2b4e72;
}

.AdriaticaLuxe-combined__question {
  background-color: #2b4e72;
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5.8rem 8rem 9rem 3.3rem;
  margin-right: 5rem;
}

.AdriaticaLuxe-combined__image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.AdriaticaLuxe-combined__image img {
  width: 100%;
}

.AdriaticaLuxe-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -20rem;
}

.DalmatiaSun-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -17rem;
}

.AdriaticaLuxe-description__logo,
.DalmatiaSun-description__logo {
  width: 50%;
  height: 50%;
  margin: 5rem 0 0 12.5rem;
  position: relative;
}

.AdriaticaLuxe-description__logo::after,
.DalmatiaSun-description__logo::after {
  content: "";
  display: block;
  width: 79%;
  position: absolute;
  border: 0.1rem solid #011839;
  opacity: 17%;
  top: 48%;
  left: 98%;
  z-index: 2;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.AdriaticaLuxe-description__text,
.DalmatiaSun-description__text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: left;
  color: #031b3b;
  margin: 7.2rem 12.5rem 1.5rem 5rem;
}

.AdriaticaLuxe__text2,
.DalmatiaSun__text2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  color: #031b3b;
  opacity: 1;
  margin: 3rem 13rem 3rem 27rem;
}

.AdriaticaLuxe-marketing {
  position: relative;
}

.AdriaticaLuxe-marketing__SEM,
.AdriaticaLuxe-marketing__SMM,
.AdriaticaLuxe-marketing__EmailMarketing,
.DalmatiaSun-marketing__SEM,
.DalmatiaSun-marketing__SMM,
.DalmatiaSun-marketing__EmailMarketing {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #011839;
  opacity: 1;
  margin: 2rem 0rem 0rem 35rem;
  z-index: -2;
}

.AdriaticaLuxe-marketing__SEM:before,
.AdriaticaLuxe-marketing__SMM:before,
.AdriaticaLuxe-marketing__EmailMarketing:before,
.DalmatiaSun-marketing__SEM:before,
.DalmatiaSun-marketing__SMM:before,
.DalmatiaSun-marketing__EmailMarketing:before {
  content: "";
  display: block;
  width: 6rem;
  height: 0.2rem;
  background: #021a3a;
  opacity: 0.2;
  position: relative;
  left: -7.5rem;
  top: .7rem;
}

.AdriaticaLuxe-marketing__SEM span,
.AdriaticaLuxe-marketing__SMM span,
.AdriaticaLuxe-marketing__EmailMarketing span,
.DalmatiaSun-marketing__SEM span,
.DalmatiaSun-marketing__SMM span,
.DalmatiaSun-marketing__EmailMarketing span {
  background: #ffffff;
}

.AdriaticaLuxe-visitWebsite,
.DalmatiaSun-visitWebsite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 26.2rem;
}

.AdriaticaLuxe-visitWebsite__right-icon-button,
.DalmatiaSun-visitWebsite__right-icon-button {
  width: 8%;
  height: 8%;
  border: none;
  background: transparent;
}

.AdriaticaLuxe-visitWebsite__right-icon-button:hover, .AdriaticaLuxe-visitWebsite__right-icon-button:focus, .AdriaticaLuxe-visitWebsite__right-icon-button:active,
.DalmatiaSun-visitWebsite__right-icon-button:hover,
.DalmatiaSun-visitWebsite__right-icon-button:focus,
.DalmatiaSun-visitWebsite__right-icon-button:active {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}

.AdriaticaLuxe-visitWebsite__text3,
.DalmatiaSun-visitWebsite__text3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  color: #011839;
  margin: 1.3rem;
  margin-bottom: 4.5rem;
}

.DalmatiaSun {
  margin-top: 6rem;
}

.DalmatiaSun-background {
  margin-top: 23rem;
}

.DalmatiaSun-background__wave {
  background: url("/assets/yellow_wave.svg") repeat-x;
  position: relative;
  top: -250px;
  max-width: 6400px;
  height: 250px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.DalmatiaSun-background__wave:nth-of-type(2) {
  top: -28rem;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0% {
    transform: translate3d(0, -25px, 0);
    -webkit-transform: translate3d(0, -25px, 0);
    -moz-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    -o-transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
    -webkit-transform: translate3d(0, 5px, 0);
    -moz-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    -o-transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
}

.DalmatiaSun-combined {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -53rem 12rem -20rem 10rem;
  position: absolute;
  background-color: #f8b215;
}

.DalmatiaSun-combined__question {
  background-color: #f8b215;
  font-family: "Yeseva One", cursive;
  font-size: 2rem;
  color: #ffffff;
  text-align: left;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0rem 6rem 0rem 3.3rem;
  margin-right: 5rem;
}

.DalmatiaSun-combined__image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.DalmatiaSun-combined__image img {
  width: 100%;
}

.projects {
  background-image: url("/assets/MaskGroup72.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11.5rem 5rem;
}

.projects-left {
  padding-top: 6rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects-left__title {
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
  margin-right: 3rem;
  color: #ffffff;
  opacity: 1;
}

.projects-left__about {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  margin: 1.2rem 2.5rem 1.5rem 0;
}

.projects__rocket {
  width: 126%;
  height: 126%;
}

.projects-left-talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-left-talk__right-icon-button {
  width: 7%;
  height: 7%;
  border: none;
  background: transparent;
}

.projects-left-talk__right-icon-button:hover, .projects-left-talk__right-icon-button:focus, .projects-left-talk__right-icon-button:active {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}

.projects-left-talk__talk {
  color: #ffffff;
  padding: 0.4rem 0 0 0.3rem;
  font-size: 1rem;
  font-weight: 900;
}

.contact__title {
  text-align: center;
  font-family: "Yeseva One", cursive;
  font-size: 2.5rem;
  color: #011839;
  margin-top: 1rem;
}

.contact__about {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #031b3b;
  margin: 1.5rem 0 4.5rem;
}

.subscription-and-SocialLinks-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #2b4e72;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  margin: 0 4rem 0 4rem;
}

.subscribe__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: #2b4e72;
  color: #ffffff;
  padding-left: 2rem;
  border-radius: 2rem 0 0 2rem;
  border: none;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:visited {
  border-radius: 2rem 0 0 2rem;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #2b4e72 inset !important;
  -webkit-box-shadow: 0 0 0 30px #2b4e72 inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffffff;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
}

.subscribe-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-wrap__icon-button {
  width: 28%;
  border: none;
  background: transparent;
  padding: 0.3rem 0.4rem 0 0;
}

.subscribe-wrap__icon-button:hover, .subscribe-wrap__icon-button:focus, .subscribe-wrap__icon-button:active {
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -o-transform: scale(1.2, 1.2);
}

.subscribe-wrap__text {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin: 1rem 2rem 0 0rem;
  font-weight: 900;
}

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5rem;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 12rem 5rem 3rem;
}

.footer-nav li,
.footer-nav a {
  list-style: none;
  text-decoration: none;
  font-family: "Yeseva One", cursive;
  font-size: 1rem;
  color: #a1a1a1;
}

.certificates {
  margin: 0rem 0 0 5rem;
}

.certificates::before, .certificates::after {
  display: block;
  position: absolute;
  content: "";
  height: 0.1rem;
  width: 77rem;
  opacity: 0.4;
  background: #939393;
}

.certificates::before {
  margin-top: -3rem;
}

.certificates::after {
  margin-top: 17rem;
}

.certificates__cisex,
.certificates__osijek,
.certificates__clutch,
.certificates__tda,
.certificates__tia {
  width: 6%;
  height: 6%;
  margin-right: 8rem;
  padding-bottom: 3rem;
}

.certificates__agency {
  width: 14%;
  height: 14%;
  margin-right: 5rem;
}

.certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.certificates img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  opacity: 40%;
}

.copyright__terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.copyright__terms li,
.copyright__terms a {
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: #a1a1a1;
  margin: 2rem 0 0.7rem 1.3rem;
}

.copyright__disclaimer,
.copyright__text {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-align: left;
  color: #a1a1a1;
}

.copyright__disclaimer {
  margin: 0 5rem 5rem;
}

.copyright__text {
  margin: 3rem 5rem;
}
/*# sourceMappingURL=style.css.map */